<nav>
  <div class="signout-wrapper">
  <%= link_to "/categories" do %>
    <i class="material-icons md-36">arrow_back</i>
  <% end %>
    <% if user_signed_in? %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:"logout-btn" %>
  <% end %>
  </div>
  <h2>ADD CATEGORY</h2>
  <i class="material-icons md-36">search</i>
</nav>

<div class="container">
  <%= render 'shared/notification_box' %>

  <div>
    <%= form_with model: @new_category, url: categories_path do |f| %>
      <div>
        <div>
          <%= f.label :name, "Category Name", class: 'form-label' %><br><br>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control', required: true %>
        </div>
        <br>
        <%# Current user field %>
        <%= f.hidden_field :author_id, value: current_user.id %>

        <div>
          <%= f.label :icon, "Category Icon", class: 'form-label' %>
          <%= f.file_field :icon, autocomplete: "icon", class: 'form-control', required: true %>
        </div>
        <div class="footer">
          <%= f.submit "SAVE", class: 'save-btn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
