<div class="navigate">
  <% current_path = request.path %>

<ul>
  <% unless current_path == root_path %>
    <li><%= link_to "Back", :back, class: 'button' %></li>
    <li><%= link_to "All Users", :root, class: 'button' %></li>
  <% end %>

  <li><%= link_to "Edit User", edit_user_registration_path, class: 'button' %></li>

  <li>
    <% unless user_signed_in? %>
      <%= link_to "Login", new_user_session_path, class: "button" %>
    <% else %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "button danger" %>
    <% end %>
  </li>
</ul>

</div>